.header {
    &__wrapper {
        padding: 40px 31px 0 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_width204 {
            width: 204px;
        }
        &-block {
            width: 133px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-weight: 400;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000000;
        }
    }
    nav {
        height: 14px;
    }
    .hamburger {
        display: none;
    }
    &__divider {
        margin-top: 24px;
        height: 1px;
        width: 100%;
        background: #E0E0E0;
    }
}